---
import Container from '../components/Container.astro';
import Networks from '../components/Networks.astro';
import Layout from '../layouts/Layout.astro';
import personal from "../data/personal";
import Footer from "../components/Footer.astro";
import Certificates from '../components/Certificates';
import certificates from "../data/certificates";
---

<Layout>
	<div class="flex-row justify-end hidden md:flex md:h-5/6 lg:h-3/6 md:flex-col">
		{personal.networks.map((network)=>(
			<Networks icon={network.icon} link={network.link}/>
		))}
	</div>
	<Container/>	
    <section id="about" class="text-white text-center mb-5 mt-10 inline md:hidden mx-3">
	  <span class="text-white text-center text-xl md:text-2xl font-normal">Sobre Mí</span>
      <p class="text-[15px] font-semibold text-justify mt-3">{personal.title}</p>
      <p class="text-sm mt-2 text-justify">{personal.description}</p>
    </section>
	<div class="inline md:hidden">
		<Certificates client:only certificates={certificates}/>
	</div>
	<Footer/>
</Layout>